<div class="content">
<div class="content-left">

<div class="row1">
<h2 class="title">About <span>Us</span></h2>
<p><strong>Stock Mirror is an investment advisory which assure you to provide high accuracy calls along with the trading tips about the Indian market with an intense analysis done by our highly experienced research analysts who delivers their best recommendations in Stock market & Commodity market. Basically we provide services in stock cash, stock futures, nifty futures & in all commodities. Irrespective of the fact whether you are a trader or an investor we will provide you with TECHNO-FUNDA analysis which will tend you to extract maximum profits with least amount of drawdown. The services cover both type of intraday trading & positional trading along with proper investment recommendations. We are providing advice to our valuable clients through various methods.
We provide recommendations live through SMS and CHAT room
<br>
</p>
<p>&nbsp;</p>
<p>Investment and Trading is always subject of risk and required skill. However, the whole exercise of trading favors only those who have a fair bit of understanding of the fundamentals and Technical analysis in an organized manner. Most of the people who venture into trading without such knowledge lose focus pre-maturely due to lack of help in the form of stock market trading tips or a good trading strategy. We at Pace Research breaking the myth of "majority always lose money in market" Many investors have benefited from our technical expertise and in-depth understanding of the stock commodity market with which we make successful calls in the direction of price movement in stocks and indices. 
</p>
<p>&nbsp;</p>

</div>
</div>
<div class="content-right">
    <div class="contact">
      <%= image_tag("stock3.jpeg", size: "326x233", style: "margin-top: 49px;") %>	
    </div>
    <div class="contact">
      <%= image_tag("stock2.jpg", size: "326x233", style: "margin-top: 87px;") %>		
    </div>
  </div>
</div>
