<div class="content">
  <div class="content-left">
    <div class="row1">
      <h1 class="title">Contact Us</h1>
      <div>
        <h2 class="sidebar2">Contact</h2>
        <div class="contact-detail">
          <p class="green"><strong>Contact Details</strong></p>
          <p><strong>Country :</strong> India<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <p><strong>City :</strong> Indore<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <p><strong>E-mail :</strong>&nbsp;&nbsp;&nbsp;stockmirror@outlook.com</p>
          <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;viplavstockmirror@outlook.com</p>
          <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;anshumanstockmirror@outlook.com</p>
          <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;sumitstockmirror@outlook.com</p>
          <p><strong>Phone :</strong> &nbsp;&nbsp;&nbsp;+91 7024131057<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 7024131058</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-right">
    <div class="contact">
      <%= image_tag("ContactUs.png", size: "326x233") %>
    </div>
  </div>
</div>
