<div class="content">
  <div> 
    <div class="pricing_row">
      <h1 class="title"><span>Pricing</span></h1>
        </br>
        <h4>Cash/Stock Future/Nifty Future</h4>
		<table width="100%" cellspacing="0" cellpadding="0">
			<tbody><tr>
			  <td width="20%" valign="middle" height="35" bgcolor="#E6E65C" align="center">SERVICES</td>
			  <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">MONTHLY</td>
			  <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">QUARTERLY</td>
			  <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">HALF YEARLY</td>
			  <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">YEARLY</td>
			</tr>
			<tr>
			  <td valign="middle" height="30" bgcolor="#B8B894" align="center" class="">CASH INTRADAY</td>
			  <td valign="middle" bgcolor="#B8B894" align="center">8000</td>
			  <td valign="middle" bgcolor="#B8B894" align="center">15500</td>
			  <td valign="middle" bgcolor="#B8B894" align="center">25500</td>
			  <td valign="middle" bgcolor="#B8B894" align="center">40500</td>
			</tr>
			<tr>
			  <td valign="middle" height="30" bgcolor="#999999" align="center">STOCK FUTURES INT</td>
			  <td valign="middle" bgcolor="#999999" align="center">8000</td>
			  <td valign="middle" bgcolor="#999999" align="center">15500</td>
			  <td valign="middle" bgcolor="#999999" align="center">25500</td>
			  <td valign="middle" bgcolor="#999999" align="center">40500</td>
			</tr>
			<tr>
			  <td valign="middle" height="30" bgcolor="#B8B894" align="center">NIFTY FUTURES</td>
			  <td valign="middle" bgcolor="#B8B894" align="center">5600</td>
			  <td valign="middle" bgcolor="#B8B894" align="center">10100</td>
			  <td valign="middle" bgcolor="#B8B894" align="center">20200</td>
			  <td valign="middle" bgcolor="#B8B894" align="center">30300</td>
			</tr>
			<tr bgcolor="#999999">
			  <td valign="middle" height="30" bgcolor="#999999" align="center">CASH + FUTURES</td>
			  <td valign="middle" bgcolor="#999999" align="center">12000</td>
			  <td valign="middle" bgcolor="#999999" align="center">25500</td>
			  <td valign="middle" bgcolor="#999999" align="center">40500</td>
			  <td valign="middle" bgcolor="#999999" align="center">71500</td>
			</tr>
			<tr>
			  <td valign="middle" height="30" bgcolor="#B8B894" align="center">CASH + FUTURES + NIFTY</td>
			  <td valign="middle" bgcolor="#B8B894" align="center">15000</td>
			  <td valign="middle" bgcolor="#B8B894" align="center">34500</td>
			  <td valign="middle" bgcolor="#B8B894" align="center">70500</td>
			  <td valign="middle" bgcolor="#B8B894" align="center">1,20,500</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="pricing_row">
        <h4>BULLIONS/BASE MATALS/ENERGY/NCDEX</h4>
        <table width="100%" cellspacing="0" cellpadding="0">
		    <tbody><tr>
		      <td width="20%" valign="middle" height="35" bgcolor="#E6E65C" align="center">SERVICES</td>
		      <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">MONTHLY</td>
		      <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">QUARTERLY</td>
		      <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">HALF YEARLY</td>
		      <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">YEARLY</td>
	        </tr>
		    <tr>
		      <td valign="middle" height="30" bgcolor="#B8B894" align="center" class="">MCX BULLOUNS</td>
		      <td valign="middle" bgcolor="#B8B894" align="center">10000</td>
		      <td valign="middle" bgcolor="#B8B894" align="center">22200</td>
		      <td valign="middle" bgcolor="#B8B894" align="center">40500</td>
		      <td valign="middle" bgcolor="#B8B894" align="center">75500</td>
	        </tr>
		    <tr>
		      <td valign="middle" height="30" bgcolor="#999999" align="center">MCX BASE METALS &amp; ENERGY </td>
		      <td valign="middle" bgcolor="#999999" align="center">10000</td>
		      <td valign="middle" bgcolor="#999999" align="center">22200</td>
		      <td valign="middle" bgcolor="#999999" align="center">40500</td>
		      <td valign="middle" bgcolor="#999999" align="center">75500</td>
	        </tr>
		    <tr>
		      <td valign="middle" height="30" bgcolor="#B8B894" align="center">MCX COMBO</td>
		      <td valign="middle" bgcolor="#B8B894" align="center">14000</td>
		      <td valign="middle" bgcolor="#B8B894" align="center">32500</td>
		      <td valign="middle" bgcolor="#B8B894" align="center">60500</td>
		      <td valign="middle" bgcolor="#B8B894" align="center">1,05,500</td>
	        </tr>
		    <tr bgcolor="#999999">
		      <td valign="middle" height="30" bgcolor="#999999" align="center">NCDEX</td>
		      <td valign="middle" bgcolor="#999999" align="center">14000</td>
		      <td valign="middle" bgcolor="#999999" align="center">32500</td>
		      <td valign="middle" bgcolor="#999999" align="center">60500</td>
		      <td valign="middle" bgcolor="#999999" align="center">1,05,500</td>
	        </tr>
		    <tr>
		      <td valign="middle" height="30" bgcolor="#B8B894" align="center">MCX + NCDEX</td>
		      <td valign="middle" bgcolor="#B8B894" align="center">23000</td>
		      <td valign="middle" bgcolor="#B8B894" align="center">58500</td>
		      <td valign="middle" bgcolor="#B8B894" align="center">1,05,500</td>
		      <td valign="middle" bgcolor="#B8B894" align="center">1,80,500</td>
	        </tr>
	      </tbody>
   	   </table>
     </div>
     <div class="pricing_row">
        <h4>CASH/FUTURE POSITIONAL</h4>
        <table width="100%" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="20%" valign="middle" height="35" bgcolor="#E6E65C" align="center">SERVICES</td>
              <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">MONTHLY</td>
              <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">QUARTERLY</td>
              <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">HALF YEARLY</td>
              <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">YEARLY</td>
            </tr>
            <tr>
              <td valign="middle" height="30" bgcolor="#B8B894" align="center" class="">CASH POSITIONAL</td>
              <td valign="middle" bgcolor="#B8B894" align="center">10000</td>
              <td valign="middle" bgcolor="#B8B894" align="center">22200</td>
              <td valign="middle" bgcolor="#B8B894" align="center">40500</td>
              <td valign="middle" bgcolor="#B8B894" align="center">75500</td>
            </tr>
            <tr>
              <td valign="middle" height="30" bgcolor="#999999" align="center">FUTURE POSITIONAL</td>
              <td valign="middle" bgcolor="#999999" align="center">10000</td>
              <td valign="middle" bgcolor="#999999" align="center">22200</td>
              <td valign="middle" bgcolor="#999999" align="center">40500</td>
              <td valign="middle" bgcolor="#999999" align="center">75500</td>
            </tr>
            <tr>
              <td valign="middle" height="30" bgcolor="#B8B894" align="center">MCX POSITIONAL</td>
              <td valign="middle" bgcolor="#B8B894" align="center">23000</td>
              <td valign="middle" bgcolor="#B8B894" align="center">58500</td>
              <td valign="middle" bgcolor="#B8B894" align="center">1,05,500</td>
              <td valign="middle" bgcolor="#B8B894" align="center">1,80,500</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pricing_row">
        <h4>CASH/STOCK FUTURE/NIFTY FUTURE</h4>
        <table width="100%" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="20%" valign="middle" height="35" bgcolor="#E6E65C" align="center">SERVICES</td>
              <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">MONTHLY</td>
              <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">QUARTERLY</td>
              <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">HALF YEARLY</td>
              <td width="20%" valign="middle" bgcolor="#E6E65C" align="center">YEARLY</td>
            </tr>
            <tr>
              <td valign="middle" height="30" bgcolor="#B8B894" align="center" class="">PREMIUM CASH</td>
              <td valign="middle" bgcolor="#B8B894" align="center">23000</td>
              <td valign="middle" bgcolor="#B8B894" align="center">58500</td>
              <td valign="middle" bgcolor="#B8B894" align="center">1,05,500</td>
              <td valign="middle" bgcolor="#B8B894" align="center">1,80,500</td>
            </tr>
            <tr>
              <td valign="middle" height="30" bgcolor="#999999" align="center">PREMIUM FUTURE</td>
              <td valign="middle" bgcolor="#999999" align="center">23000</td>
              <td valign="middle" bgcolor="#999999" align="center">58500</td>
              <td valign="middle" bgcolor="#999999" align="center">1,05,500</td>
              <td valign="middle" bgcolor="#999999" align="center">1,80,500</td>
            </tr>
            <tr>
              <td valign="middle" height="30" bgcolor="#B8B894" align="center">PREMIUM NCDEX</td>
              <td valign="middle" bgcolor="#B8B894" align="center">32000</td>
              <td valign="middle" bgcolor="#B8B894" align="center">75500</td>
              <td valign="middle" bgcolor="#B8B894" align="center">1,20,500</td>
              <td valign="middle" bgcolor="#B8B894" align="center">2,00,500</td>
            </tr>
            <tr bgcolor="#999999">
              <td valign="middle" height="30" bgcolor="#999999" align="center">PREMIUM MCX</td>
              <td valign="middle" bgcolor="#999999" align="center">32000</td>
              <td valign="middle" bgcolor="#999999" align="center">75500</td>
              <td valign="middle" bgcolor="#999999" align="center">1,20,500</td>
              <td valign="middle" bgcolor="#999999" align="center">2,00,500</td>
            </tr>
            <tr>
              <td valign="middle" height="30" bgcolor="#B8B894" align="center">OPRATOR BASE SERVICES</td>
              <td valign="middle" bgcolor="#B8B894" align="center">32000</td>
              <td valign="middle" bgcolor="#B8B894" align="center">80500</td>
              <td valign="middle" bgcolor="#B8B894" align="center">1,30,500</td>
              <td valign="middle" bgcolor="#B8B894" align="center">2,20,500</td>
            </tr>
            <tr>
              <td valign="middle" height="30" bgcolor="#999999" align="center">PREMIUM + OPRATOR</td>
              <td valign="middle" bgcolor="#999999" align="center">57000</td>
              <td valign="middle" bgcolor="#999999" align="center">1,40,500</td>
              <td valign="middle" bgcolor="#999999" align="center">2,55,500</td>
              <td valign="middle" bgcolor="#999999" align="center">4,00,500</td>
            </tr>
          </tbody>
        </table>
      </div>
    
    <hr style="border-top: dotted 1px;" />
      <div style='margin-top: 25px;'>
		  <h1>Payment Options</h1>
		  <h3>Bank Details</h3>
		  <div style='margin-top: 25px;'>
		  	<%= image_tag("axisbank_logo.jpg", size: "200x50") %>
	        <div>
	        	<p class='details'> BANK-AXIS BANK LTD</p>
		    	<p class='details'> Acc. Name - Vipalav Dixit</p>
		    	<p class='details'> Acc. No.-913010032175745</p>
		    	<p class='details'> IFSC Code-UTIB0000043</p>
		    	<p class='details'> Branch-Kamal Palace, Yeshwant Road, Indore (M.P)</p>
	        </div>
		  </div>
		  <div style='margin-top: 25px;'>
		  	<%= image_tag("sbi_logo.jpg", size: "200x50") %>
	        <div>
	        	<p class='details'> BANK-State Bank Of India</p>
		    	<p class='details'> Acc. Name - Vipalav Dixit</p>
		    	<p class='details'> Acc. No.-31769733669</p>
		    	<p class='details'> IFSC Code-SBIN0003215</p>
		    	<p class='details'> Madhav Chowk, Shivpuri (M.P)</p>
	        </div>
	      </div>
	  </div>	
</div>  
</div>